<!DOCTYPE html>
<!--suppress ALL -->
<meta charset="utf-8">
<head>
    <title>Paladin</title>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.1.1/styles/agate.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.1.1/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    <script src="//cdn.jsdelivr.net/npm/highlightjs-line-numbers.js@2.8.0/dist/highlightjs-line-numbers.min.js"></script>
    <script>hljs.initLineNumbersOnLoad();</script>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="https://d3js.org/d3.v3.min.js"></script>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="/scripts/vue3-highlight.js"></script>

    <style type="text/css">
        body {
            background-color: #282727;
            color: white;
        }

        thead {
            color: #efc081;
            align-content: center;
            align-items: center;
        }
    </style>
</head>
<body>

<div id="header">
    <h1 style="position: center">Welcome to PaLaDiN Archive Debugger!</h1>
    <h3>Select a line to start debuging:</h3>
    <div class="flex-container">
        <div style="line-height: 1px; height: 550px; overflow-y: scroll;">
            <div v-for="(line, index) in source_code">
                            <pre v-highlightjs @click="select_line_no(index + 1)">
                                <code class="python" :id="'code_' + index">
                                 $$[ index + 1 ]$$ $$[ line ]$$
                            </code></pre>
            </div>
        </div>
        <br/>
        <div id="div_line_debug" style="visibility: hidden">
            <table>
                <tr>
                    <td>
                        <pre v-highlightjs><code>$$[ line_no_to_debug ]$$</code></pre>
                    </td>
                    <td>
                    <pre v-if="line_to_debug != null" v-highlightjs>
                        <code style="overflow: hidden;">$$[ line_to_debug ]$$</code>
                    </pre>
                    </td>
                </tr>
                <tr>
                    <td> Archive entries for line:</td>
                    <td>
                        <table id="archive_entries_table">
                            <thead>
                            <td v-if="archive_entries.length > 0"
                                v-for="k in Object.keys(archive_entries[0])" v-html="capitalize(k)"/>
                            </thead>
                            <tr v-for="entry in archive_entries">
                                <td v-for="value in Object.values(entry)">
                                    <pre v-highlightjs><code>$$[ value ]$$</code></pre>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </div>
        <div>
            <table>
                <tr>
                    <td> Select a var to follow:</td>
                    <td>
                        <table>
                            <thead>
                            <td v-if="vars_to_follow.length > 0" v-for="k in Object.keys(vars_to_follow[0])"
                                v-html="capitalize(k)"/>

                            </thead>
                            <tr v-for="(target, target_index) in vars_to_follow">
                                <td v-for="(value, key, index) in target" :id="key + '_' + target_index">
                                    <pre v-highlightjs><code>$$[ value ]$$</code></pre>
                                </td>
                                <td>
                                    <button :id="target.id" @click="follow_var">follow</button>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </div>
        <div id="div_followed_var_history" style="visibility: hidden">
            <table>
                <tr>
                    <td>History of
                        <pre v-highlightjs><code>$$[ var_id_to_follow ]$$ </code></pre>
                        :
                    </td>
                    <td>
                        <table>
                            <thead>
                            <td v-if="var_id_to_follow != null && var_history[var_id_to_follow].length > 0"
                                v-for="k in Object.keys(var_history[var_id_to_follow][0])" v-html="capitalize(k)">
                            </td>
                            </thead>
                            <tr v-if="var_id_to_follow != null" v-for="entry in var_history[var_id_to_follow]">
                                <td v-for="value in Object.values(entry)">
                                    <pre v-highlightjs><code>$$[ value ]$$</code></pre>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>

</body>

<script type="module">
    import {request} from "/scripts/request.js";
    import {capitalizeFirstLetter} from "/scripts/string_utils.js";

    const debug_info = {
        data: function () {
            return {
                source_code: [],
                line_no_to_debug: -1,
                archive_entries: [],
                vars_to_follow: [],
                var_history: {},
                var_id_to_follow: null,
                line_to_debug: null
            }
        },
        created: async function () {
            this.source_code = (await request('debug_info', {'info': 'source_code'}))['result']['source_code'];
        },
        compilerOptions: {
            delimiters: ['$$[', ']$$']
        },
        methods: {
            update_element_visibility: function (element_id, visibility) {
                document.getElementById(element_id).style.visibility = visibility ? 'visible' : 'hidden';
            },
            update_div_line_debug_visibility: function (visibility) {
                this.update_element_visibility('div_line_debug', visibility);
            },

            update_div_followed_var_history_visibility: function (visibility) {
                this.update_element_visibility('div_followed_var_history', visibility);
            },


            select_line_no: async function (line_no) {
                this.line_no_to_debug = line_no;
                this.archive_entries = new Object(
                    (await request('debug_info',
                        await {
                            'line_no_to_debug': await this.line_no_to_debug,
                            'info': 'archive_entries'
                        }
                    ))['result']['archive_entries']);
                this.vars_to_follow = new Object(
                    (await request('debug_info',
                        await {
                            'line_no_to_debug': await this.line_no_to_debug,
                            'info': 'vars_to_follow'
                        }))['result']['vars_to_follow']);
                this.line_to_debug = new Object(await request('debug_info',
                    {
                        'line_no': this.line_no_to_debug,
                        'info': 'get_line'
                    }))['result']['line'];

                this.update_div_line_debug_visibility(true);
                this.update_div_followed_var_history_visibility(false);
            },

            follow_var: async function (event) {
                const clicked_button_key = event.target.id;
                this.var_history[clicked_button_key] = new Object(
                    (await request('debug_info',
                        {
                            'info': 'var_assignments',
                            'var_id_to_follow': clicked_button_key.toString()
                        }))['result']['var_assignments']);
                this.var_id_to_follow = clicked_button_key;
                this.update_div_followed_var_history_visibility(true);
            },
            capitalize: capitalizeFirstLetter,

            source_code_hover_event: function (id) {
                document.getElementById(id).style.textDecoration = 'underline';
            }
        }
    }

    const debug_info_vue_app = Vue.createApp(debug_info);
    debug_info_vue_app.use(Vue3Highlightjs);
    debug_info_vue_app.mount('#header');
</script>
